<!DOCTYPE html>
<html lang="en">
<head>
    
    {{>headlinks}}


<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>

{{>style}}

</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12-mx-auto">
          <div class="row">

            <!-- left side div  -->
            <div class="col-md-12 col-12 main_header_left align-items-center">
              
                <figure>
                    <img src="images/error.png" alt="yadav" class="img-fluid">
                </figure class="errimg">
               <h1>{{errormsg}}</h1>
               <a href="/"><button>Go Back</button></a>
            </div>
            <!-- right side div  -->
            
      
          </div>
          </div>
      </div>
    </div>

       <!-- footer section  -->
  
          

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>
</html>