<!DOCTYPE html>
<html lang="en">
<head>
    
    {{>headlinks}}


<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>

{{>style}}

</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12-mx-auto">
          <div class="main_content">
              <form action="" class="temp_form">
                  <input type="text" id="cityname" placeholder="Enter your city name" autocomplete="off">
                  <input type="submit" value="search" id="submitbtn">
              </form>
          </div>
          <div class="tempinformation">
              <div class="top_layer">
                  <p id="day"></p>
                  <p id="today_date"></p>
              </div>
              <div class="main_layer">
                  <p id="city_name"></p>
                  <div class="middle_layer ">
                      <p id="temp"><span id="temp_real_val">0</span><sup>0</sup>C</p>
                    <p id="temp_status"><i class="fa fa-cloud" aria-hidden=""></i></p>
                  </div>
              </div>
          </div>
          </div>
      </div>
    </div>

     {{>footer}}
     <script src="js/main.js"></script> 

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>
</html>